@page
@model AutoService.Pages.ServiceTypes.IndexModel
@{
}

<h1>مدیریت خدمات اتوسرویس </h1>
<div class="border" style="background-color:white">
    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-info"> لیست سرویس های ما </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-info text-white">
                <i class="fas fa-plus fa-sm"></i>
                افزودن سرویس جدید
            </a>
        </div>
    </div>

</div>