@page
@model AutoService.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>افزودن ماشین جدید</h4>
<hr />
<div class="row" enctype="multipart/form-data">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.UserId" />
            <input type="hidden" asp-for="Car.ImageName" />

            <div class="form-group">
                <label asp-for="Car.Name" class="control-label"></label>
                <input asp-for="Car.Name" class="form-control" />
                <span asp-validation-for="Car.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Color" class="control-label"></label>
                <input asp-for="Car.Color" class="form-control" />
                <span asp-validation-for="Car.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Car.ImageName" class="control-label"></label>
                <input type="file" name="imgInp" id="imgInp" class="form-control" />
                <span asp-validation-for="Car.ImageName" class="text-danger"></span>
                <img id="imgPriveiw" />
            </div> *@
            <div class="form-group">
                <input type="submit" value="ثبت ماشین" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">بازگشت لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                imgPriveiw.src = URL.createObjectURL(file)
            }
        }
    </script>
}
